# UJIAN PEMAIN BASKET

In [1]:
import pandas as pd
import numpy as np

#### Preparing Data

In [2]:
enbie = pd.read_csv("NBA.csv")
enbie.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Chris Robinson,VAN,23.0,195.58,90.71840,Western Kentucky,USA,1996,2,...,4.6,1.7,1.6,-11.4,0.039,0.088,0.155,0.486,0.156,1996-97
1,1,Matt Fish,MIA,27.0,210.82,106.59412,North Carolina-Wilmington,USA,1992,2,...,0.3,0.8,0.0,-15.1,0.143,0.267,0.265,0.333,0.000,1996-97
2,2,Matt Bullard,HOU,30.0,208.28,106.59412,Iowa,USA,Undrafted,Undrafted,...,4.5,1.6,0.9,0.9,0.016,0.115,0.151,0.535,0.099,1996-97
3,3,Marty Conlon,BOS,29.0,210.82,111.13004,Providence,USA,Undrafted,Undrafted,...,7.8,4.4,1.4,-9.0,0.083,0.152,0.167,0.542,0.101,1996-97
4,4,Martin Muursepp,DAL,22.0,205.74,106.59412,None,USA,1996,1,...,3.7,1.6,0.5,-14.5,0.109,0.118,0.233,0.482,0.114,1996-97

In [3]:
dfRekrut = pd.DataFrame({
    "Name" : ["Andakara Prastawa Dyaksa", "Reggie Mononimbar", "Hardianus Lakudu", 
              "Kevin Yonas Sitorus", "Arki Dikania Wisnu", "Laurentius Steven Oei", 
              "Mei Joni", "Vincent Rivaldi", "Hardian Wicaksono", "Brandon Jawato"], 
    "Club" : ["Pelita Jaya Bakrie", "Pelita Jaya Bakrie", "Satria Muda Pertamina Jakarta", 
              "Satria Muda Pertamina Jakarta", "Satria Muda Pertamina Jakarta", "Satria Muda Pertamina Jakarta", 
              "Stapac", "Stapac", "Pacific Caesar Surabaya", "Louvre Surabaya"],
    "Country" : ["Indonesia","Indonesia","Indonesia","Indonesia","Indonesia",
                 "Indonesia","Indonesia","Indonesia","Indonesia","Indonesia",],
    "Age" : [24, 21, 23, 26, 20, 21, 25, 23, 21, 24],
    "Height" : [190, 185, 178, 185, 183, 191, 188, 179, 177, 182],
    "Weight" : [90, 86, 83, 75, 80, 85, 90, 87, 80, 85],
    "Avg Points" : [7, 6, 10, 11, 5, 4, 7, 1, 9, 6],
    "Avg Rebounds" : [6, 3, 3, 4, 2, 10, 5, 2, 8, 5]
})
dfRekrut

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3
2,Hardianus Lakudu,Satria Muda Pertamina Jakarta,Indonesia,23,178,83,10,3
3,Kevin Yonas Sitorus,Satria Muda Pertamina Jakarta,Indonesia,26,185,75,11,4
4,Arki Dikania Wisnu,Satria Muda Pertamina Jakarta,Indonesia,20,183,80,5,2
5,Laurentius Steven Oei,Satria Muda Pertamina Jakarta,Indonesia,21,191,85,4,10
6,Mei Joni,Stapac,Indonesia,25,188,90,7,5
7,Vincent Rivaldi,Stapac,Indonesia,23,179,87,1,2
8,Hardian Wicaksono,Pacific Caesar Surabaya,Indonesia,21,177,80,9,8
9,Brandon Jawato,Louvre Surabaya,Indonesia,24,182,85,6,5

#### Checking & Cleaning Data

In [4]:
enbie.isnull().sum()

Unnamed: 0           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

#### Condition Wanted
- Usia (Age) <= 25 tahun,
- Tinggi badan (Height) >= 180 cm,
- Berat badan (Weight) <= 90 kg,
- Rata-rata point (Average points scored) >= 6, dan
- Rata-rata rebound (Average rebounds grabbed) >= 3.

In [5]:
enbieNeed = enbie[["player_name", "age", "player_height", "player_weight", "pts", "reb"]]
enbieNeed

            player_name   age  player_height  player_weight   pts  reb
0        Chris Robinson  23.0         195.58       90.71840   4.6  1.7
1             Matt Fish  27.0         210.82      106.59412   0.3  0.8
2          Matt Bullard  30.0         208.28      106.59412   4.5  1.6
3          Marty Conlon  29.0         210.82      111.13004   7.8  4.4
4       Martin Muursepp  22.0         205.74      106.59412   3.7  1.6
...                 ...   ...            ...            ...   ...  ...
9556     Elijah Millsap  29.0         200.66       97.52228   1.5  3.0
9557      Elfrid Payton  23.0         193.04       83.91452  12.8  4.7
9558        Edy Tavares  25.0         220.98      120.20188   4.0  5.5
9559  Willy Hernangomez  23.0         210.82      108.86208   8.2  7.0
9560    Wilson Chandler  30.0         203.20      102.05820  15.7  6.5

[9561 rows x 6 columns]

In [6]:
conwtd = enbie[(enbie['age'] <= 25) & (enbie['player_height'] >= 180) & (enbie['player_weight'] <= 90) 
                   & (enbie['pts'] >= 6) & (enbie['reb'] >= 3)]
conwtd.index.values

array([ 105,  290,  432,  659,  835,  874, 1018, 1032, 1062, 1135, 1141,
       1332, 1351, 1436, 1515, 1516, 1720, 1727, 1748, 1951, 2004, 2018,
       2047, 2101, 2114, 2143, 2203, 2259, 2394, 2398, 2484, 2544, 2551,
       2631, 2704, 2836, 2840, 2873, 2984, 3010, 3081, 3159, 3329, 3376,
       3389, 3441, 3449, 3529, 3558, 3573, 3704, 3717, 3721, 3830, 3994,
       4036, 4039, 4121, 4124, 4252, 4267, 4271, 4374, 4385, 4422, 4482,
       4483, 4502, 4528, 4547, 4556, 4613, 4624, 4633, 4665, 4775, 4800,
       4924, 5070, 5154, 5156, 5164, 5229, 5274, 5292, 5293, 5383, 5390,
       5512, 5521, 5522, 5548, 5587, 5609, 5675, 5743, 5747, 5820, 5914,
       5952, 6001, 6014, 6040, 6098, 6183, 6272, 6277, 6304, 6343, 6360,
       6408, 6409, 6441, 6450, 6542, 6639, 6710, 6810, 6822, 6871, 6926,
       6959, 6979, 7009, 7040, 7059, 7073, 7091, 7184, 7199, 7305, 7306,
       7342, 7365, 7369, 7389, 7491, 7521, 7601, 7643, 7654, 7655, 7720,
       7739, 7821, 7827, 7900, 7904, 7935, 7983, 8003, 8022, 8051, 8060,
       8131, 8177, 8191, 8289, 8321, 8432, 8447, 8453, 8470, 8478, 8586,
       8591, 8603, 8705, 8718, 8755, 8766, 8779, 8891, 8894, 8935, 8986,
       8992, 8999, 9031, 9078, 9129, 9159, 9174, 9234, 9276, 9333, 9345,
       9371, 9485, 9522, 9557])

In [7]:
targetList = []
targetIndex = conwtd.index.values

for i in range(len(enbieNeed)):
    if i in targetIndex:
        targetList.append(1)
    else:
        targetList.append(0)

enbieNeed["target"] = pd.DataFrame(targetList)
enbieNeed

<ipython-input-7-f4b5689029d7>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  enbieNeed["target"] = pd.DataFrame(targetList)

            player_name   age  player_height  player_weight   pts  reb  target
0        Chris Robinson  23.0         195.58       90.71840   4.6  1.7       0
1             Matt Fish  27.0         210.82      106.59412   0.3  0.8       0
2          Matt Bullard  30.0         208.28      106.59412   4.5  1.6       0
3          Marty Conlon  29.0         210.82      111.13004   7.8  4.4       0
4       Martin Muursepp  22.0         205.74      106.59412   3.7  1.6       0
...                 ...   ...            ...            ...   ...  ...     ...
9556     Elijah Millsap  29.0         200.66       97.52228   1.5  3.0       0
9557      Elfrid Payton  23.0         193.04       83.91452  12.8  4.7       1
9558        Edy Tavares  25.0         220.98      120.20188   4.0  5.5       0
9559  Willy Hernangomez  23.0         210.82      108.86208   8.2  7.0       0
9560    Wilson Chandler  30.0         203.20      102.05820  15.7  6.5       0

[9561 rows x 7 columns]

#### Standarisasi Data

In [8]:
from sklearn.preprocessing import StandardScaler
stds = StandardScaler()
dataSTD = stds.fit_transform(enbieNeed.iloc[:,1:-1]) #exclude target
dataSTD

array([[-0.99674183, -0.57899275, -0.80260413, -0.58938997, -0.74785002],
       [-0.07727165,  1.06312962,  0.43960663, -1.31961423, -1.10871173],
       [ 0.61233098,  0.78944256,  0.43960663, -0.60637193, -0.78794577],
       ...,
       [-0.53700674,  2.15787786,  1.50435871, -0.69128173,  0.7757883 ],
       [-0.99674183,  1.06312962,  0.61706531,  0.02196056,  1.37722448],
       [ 0.61233098,  0.24206844,  0.08468927,  1.29560752,  1.17674575]])

In [9]:
dfUlti = pd.DataFrame(dataSTD)
dfUlti["target"] = enbieNeed["target"]
dfUlti

             0         1         2         3         4  target
0    -0.996742 -0.578993 -0.802604 -0.589390 -0.747850       0
1    -0.077272  1.063130  0.439607 -1.319614 -1.108712       0
2     0.612331  0.789443  0.439607 -0.606372 -0.787946       0
3     0.382463  1.063130  0.794524 -0.045967  0.334735       0
4    -1.226609  0.515755  0.439607 -0.742228 -0.787946       0
...        ...       ...       ...       ...       ...     ...
9556  0.382463 -0.031619 -0.270228 -1.115831 -0.226605       0
9557 -0.996742 -0.852680 -1.334980  0.803131  0.455022       1
9558 -0.537007  2.157878  1.504359 -0.691282  0.775788       0
9559 -0.996742  1.063130  0.617065  0.021961  1.377224       0
9560  0.612331  0.242068  0.084689  1.295608  1.176746       0

[9561 rows x 6 columns]

#### Splitting Dataset

In [73]:
x = dfUlti.iloc[:, :-1]
y = np.array(dfUlti["target"])

In [74]:
from sklearn.model_selection import train_test_split
xtr, xts, ytr, yts = train_test_split(x, y, test_size= .18)

### Hyper-parameter Tuning & Choosing Model

In [13]:
from sklearn.model_selection import RandomizedSearchCV

#### Logistic Regression

In [14]:
from sklearn.linear_model import LogisticRegression

In [75]:
penalty = ["l1", "l2", "elasticnet", "none"]
solver = ["newton-cg", "lbfgs", "liblinear", "sag", "saga"]
max_iter = [1, 10, 100, 1000, 10000]

paramLR = {
    "penalty": penalty,
    "solver": solver,
    "max_iter" : max_iter
}
paramLR

lomo = LogisticRegression()
lomoUlti = RandomizedSearchCV(estimator= lomo, 
                             param_distributions= paramLR, 
                             cv= 5)
lomoUlti.fit(xtr, ytr)
lomoUlti.best_params_

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: l1_ratio must be between 0 and 1; got (l1_ratio=None)

  warnings.warn("Estimator fit failed. The score on this train-test"
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:329: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: l1_ratio must be between 0 and 1; got (l1_ratio=None)

  warnings.warn("Estimator fit failed. The score on this train-test"
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:938: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver sag supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn("Estimator fit failed. The score on this train-test"
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/model_selection/_validation.py:532: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: Solver newton-cg supports only 'l2' or 'none' penalties, got elasticnet penalty.

  warnings.warn("Estimator fit failed. The score on this train-test"
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "
/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/sklearn/utils/optimize.py:211: ConvergenceWarning: newton-cg failed to converge. Increase the number of iterations.
  warnings.warn("newton-cg failed to converge. Increase the "

{'solver': 'newton-cg', 'penalty': 'none', 'max_iter': 10000}

In [16]:
from sklearn.neighbors import KNeighborsClassifier

In [17]:
k = round(len(xtr) ** .5)
k

89

In [18]:
n_neighbors = list(range(k-5, k+5))
algo = ["ball_tree", "kd_tree", "brute", "auto"]

paramKN = {
    "n_neighbors": n_neighbors,
    "algorithm": algo
}
paramKN

knmo = KNeighborsClassifier()
knmoUlti = RandomizedSearchCV(estimator= knmo, 
                             param_distributions= paramKN, 
                             cv= 5)
knmoUlti.fit(xtr, ytr)
knmoUlti.best_params_

{'n_neighbors': 85, 'algorithm': 'brute'}

In [19]:
from sklearn.ensemble import RandomForestClassifier

In [20]:
n_estimators = list(range(10, 100, 5))
max_features = ['auto', 'sqrt']
min_samples_split = [2, 5, 10]
min_samples_leaf = [1, 2, 4]
bootstrap = [True, False]

paramRF = {'n_estimators': n_estimators,
               'max_features': max_features,
               'min_samples_split': min_samples_split,
               'min_samples_leaf': min_samples_leaf,
               'bootstrap': bootstrap}

rfmo = RandomForestClassifier()
rfmoUlti = RandomizedSearchCV(estimator= rfmo, 
                             param_distributions= paramRF, 
                             cv= 5)
rfmoUlti.fit(xtr, ytr)
rfmoUlti.best_params_

{'n_estimators': 40,
 'min_samples_split': 5,
 'min_samples_leaf': 1,
 'max_features': 'auto',
 'bootstrap': False}

#### Modeling with Best Parameter

##### Score

In [21]:
yprLM = lomoUlti.predict(xts)
yprKN = knmoUlti.predict(xts)
yprRF = rfmoUlti.predict(xts)

In [22]:
print("Score Logistic Regression :", lomoUlti.score(xts, yts))
print("Score KNN :", knmoUlti.score(xts, yts))
print("Score Random Forest :", rfmoUlti.score(xts, yts))

Score Logistic Regression : 0.9860546194073213
Score KNN : 0.9918651946542708
Score Random Forest : 1.0

##### Balanced Accuracy Score

In [23]:
from sklearn.metrics import balanced_accuracy_score as bas
print("BAS Logistic Regression :", bas(yts, yprLM))
print("BAS KNN :", bas(yts, yprKN))
print("BAS Random Forest :", bas(yts, yprRF))

BAS Logistic Regression : 0.7470466627288836
BAS KNN : 0.75
BAS Random Forest : 1.0

##### Precision Score

In [66]:
from sklearn.metrics import precision_score as ps
print("Precision Logistic Regression :", ps(yts, yprLM))
print("Precision KNN :", ps(yts, yprKN))
print("Precision Random Forest :", ps(yts, yprRF))

Precision Logistic Regression : 0.5833333333333334
Precision KNN : 1.0
Precision Random Forest : 1.0

##### Recall

In [24]:
from sklearn.metrics import recall_score
print("Recall+ Logistic Regression :", recall_score(yts, yprLM))
print("Recall+ KNN :", recall_score(yts, yprKN))
print("Recall+ Random Forest :", recall_score(yts, yprRF))

Recall+ Logistic Regression : 0.5
Recall+ KNN : 0.5
Recall+ Random Forest : 1.0

##### F1 Score

In [25]:
from sklearn.metrics import f1_score
print("F1 score Logistic Regression :", f1_score(yts, yprLM))
print("F1 score KNN :", f1_score(yts, yprKN))
print("F1 score Random Forest :", f1_score(yts, yprRF))

F1 score Logistic Regression : 0.5384615384615384
F1 score KNN : 0.6666666666666666
F1 score Random Forest : 1.0

##### ROC AUC

In [26]:
from sklearn.metrics import roc_auc_score

In [27]:
print("AUC score Logistic Regression :", roc_auc_score(yts, lomoUlti.predict(xts)))
print("AUC score KNN :", roc_auc_score(yts, knmoUlti.predict(xts)))
print("AUC score Random Forest :", roc_auc_score(yts, rfmoUlti.predict(xts)))

AUC score Logistic Regression : 0.7470466627288836
AUC score KNN : 0.75
AUC score Random Forest : 1.0

Dari seluruh pengujian, model terbaik yang dapat digunakan adalah rfmoUlti

#### Checking with Filtering

In [28]:
IBLwtd = dfRekrut[(dfRekrut['Age'] <= 25) & (dfRekrut['Height'] >= 180) & (dfRekrut['Weight'] <= 90) 
                   & (dfRekrut['Avg Points'] >= 6) & (dfRekrut['Avg Rebounds'] >= 3)]

IBLwtd

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3
6,Mei Joni,Stapac,Indonesia,25,188,90,7,5
9,Brandon Jawato,Louvre Surabaya,Indonesia,24,182,85,6,5

#### Checking with Ultimate Model

In [29]:
IBLNeed = dfRekrut[["Name", "Age", "Height", "Weight", "Avg Points", "Avg Rebounds"]]
IBLNeed

                       Name  Age  Height  Weight  Avg Points  Avg Rebounds
0  Andakara Prastawa Dyaksa   24     190      90           7             6
1         Reggie Mononimbar   21     185      86           6             3
2          Hardianus Lakudu   23     178      83          10             3
3       Kevin Yonas Sitorus   26     185      75          11             4
4        Arki Dikania Wisnu   20     183      80           5             2
5     Laurentius Steven Oei   21     191      85           4            10
6                  Mei Joni   25     188      90           7             5
7           Vincent Rivaldi   23     179      87           1             2
8         Hardian Wicaksono   21     177      80           9             8
9            Brandon Jawato   24     182      85           6             5

In [68]:
iblNSTD = IBLNeed.iloc[:,1:]
iblNSTD

   Age  Height  Weight  Avg Points  Avg Rebounds
0   24     190      90           7             6
1   21     185      86           6             3
2   23     178      83          10             3
3   26     185      75          11             4
4   20     183      80           5             2
5   21     191      85           4            10
6   25     188      90           7             5
7   23     179      87           1             2
8   21     177      80           9             8
9   24     182      85           6             5

In [69]:
rekomNSTD = rfmoUlti.predict(iblNSTD)
rekomNSTD

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [30]:
iblSTD = stds.fit_transform(IBLNeed.iloc[:,1:])
iblSTD

array([[ 0.63599873,  1.32911403,  1.31632171,  0.14285714,  0.48349378],
       [-0.95399809,  0.25724788,  0.42390021, -0.21428571, -0.72524067],
       [ 0.10599979, -1.24336474, -0.24541591,  1.21428571, -0.72524067],
       [ 1.69599661,  0.25724788, -2.0302589 ,  1.57142857, -0.32232919],
       [-1.48399703, -0.17149859, -0.91473203, -0.57142857, -1.12815215],
       [-0.95399809,  1.54348727,  0.20079484, -0.92857143,  2.09513971],
       [ 1.16599767,  0.90036757,  1.31632171,  0.14285714,  0.0805823 ],
       [ 0.10599979, -1.02899151,  0.64700558, -2.        , -1.12815215],
       [-0.95399809, -1.45773797, -0.91473203,  0.85714286,  1.28931674],
       [ 0.63599873, -0.38587182,  0.20079484, -0.21428571,  0.0805823 ]])

In [67]:
rekomSTD = rfmoUlti.predict(iblSTD)
rekomSTD

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0])

In [65]:
Rekomendasi = []
for i in rekom:
    if i == 1:
        Rekomendasi.append("Direkrut")
    else:
        Rekomendasi.append("Tidak Direkrut")

#### Dataframe Rekomendasi

In [64]:
dfRekrut["Rekomendasi"] = pd.DataFrame(Rekomendasi)
dfRekrut

,Name,Club,Country,Age,Height,Weight,Avg Points,Avg Rebounds,Rekomendasi
0,Andakara Prastawa Dyaksa,Pelita Jaya Bakrie,Indonesia,24,190,90,7,6,Tidak Direkrut
1,Reggie Mononimbar,Pelita Jaya Bakrie,Indonesia,21,185,86,6,3,Tidak Direkrut
2,Hardianus Lakudu,Satria Muda Pertamina Jakarta,Indonesia,23,178,83,10,3,Tidak Direkrut
3,Kevin Yonas Sitorus,Satria Muda Pertamina Jakarta,Indonesia,26,185,75,11,4,Tidak Direkrut
4,Arki Dikania Wisnu,Satria Muda Pertamina Jakarta,Indonesia,20,183,80,5,2,Tidak Direkrut
5,Laurentius Steven Oei,Satria Muda Pertamina Jakarta,Indonesia,21,191,85,4,10,Tidak Direkrut
6,Mei Joni,Stapac,Indonesia,25,188,90,7,5,Tidak Direkrut
7,Vincent Rivaldi,Stapac,Indonesia,23,179,87,1,2,Tidak Direkrut
8,Hardian Wicaksono,Pacific Caesar Surabaya,Indonesia,21,177,80,9,8,Direkrut
9,Brandon Jawato,Louvre Surabaya,Indonesia,24,182,85,6,5,Tidak Direkrut